{% extends 'main.html' %}
{% block title %}User Profile - Echo Sphere{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-picture-container">
                {% if user.profile.profile_picture %}
                    <img class="profile-picture" src="{{ user.profile.profile_picture.url }}"
                         alt="{{ user.username }}'s Profile Picture">
                {% else %}
                    <div class="default-profile-picture"></div>
                {% endif %}
            </div>
            <div class="profile-info">
                <h1>{{ user.username }}</h1>
                <p class="user-email">{{ user.email }}</p>
                <p class="user-bio"><strong>Bio: </strong>{{ user.profile.bio }}</p>
            </div>
        </div>

        <div class="profile-details">
            <div class="detail">
                <strong>Full Name:</strong>
                <span>{{ user.profile.first_name }} {{ user.profile.last_name }}</span>
            </div>
            <div class="detail">
                <strong>Date of Birth:</strong>
                <span>{{ user.profile.date_of_birth }}</span>
            </div>
            <div class="detail">
                <strong>Gender:</strong>
                <span>{{ user.profile.get_gender_display }}</span>
            </div>

            <!-- Move the redirection button inside the profile card container -->
            <a href="{% url 'accounts:profile-update' %}" class="redirect-button">Follow</a>
        </div>
    </div>

    {% for post in my_posts %}
        <section class="main-content">
            <!-- Feed Section -->
            <div class="feed">
                <!-- Post Card -->
                <div class="post-card">
                    <p class="post-content">{{ post.content }}</p>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.user.username }}'s post image">
                    {% endif %}
                    <p><small class="post-info">Posted by {{ post.user.username }}
                        on {{ post.created_at|date:"F d, Y H:i" }}</small></p>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}
