{% extends 'main.html' %}
{% block title %}User Profile - Echo Sphere{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-picture-container">
                {% if user.profile.profile_picture %}
                    <img class="profile-picture" src="{{ user.profile.profile_picture.url }}"
                         alt="{{ user.username }}'s Profile Picture">
                {% else %}
                    <div class="default-profile-picture"></div>
                {% endif %}
            </div>
            <div class="profile-info">
                <h1>{{ user.username }}</h1>
                <p class="user-email">{{ user.email }}</p>
                <p class="user-bio"><strong>Bio: </strong>{{ user.profile.bio }}</p>
            </div>
        </div>

        <div class="profile-details">
            <div class="detail">
                <strong>Full Name:</strong>
                <span>{{ user.profile.first_name }} {{ user.profile.last_name }}</span>
            </div>
            <div class="detail">
                <strong>Date of Birth:</strong>
                <span>{{ user.profile.date_of_birth }}</span>
            </div>
            <div class="detail">
                <strong>Gender:</strong>
                <span>{{ user.profile.get_gender_display }}</span>
            </div>

            <!-- Followers and Following Counts -->
            <div class="detail">
                <strong>Followers:</strong>
                <a href="{% url 'accounts:followers' user.username %}"><span>{{ followers_count }}</span></a>
            </div>
            <div class="detail">
                <strong>Following:</strong>
                <a href="{% url 'accounts:followings' user.username %}"><span>{{ following_count }}</span></a>
            </div>

            <!-- Follow/Unfollow Button or Update Profile -->
            {% if user != request.user %}
                <form method="post">
                    {% csrf_token %}
                    {% if is_following %}
                        <button type="submit" class="redirect-button unfollow-button">Unfollow</button>
                    {% else %}
                        <button type="submit" class="redirect-button follow-button">Follow</button>
                    {% endif %}
                </form>
            {% else %}
                <a href="{% url 'accounts:profile-update' %}" class="redirect-button">Update Profile</a>
            {% endif %}
        </div>
    </div>

    <!-- User's Posts -->
    {% for post in posts %}
        <section class="main-content">
            <div class="feed">
                <div class="post-card">
                    <a href="{% url 'posts:detail' post.id %}" class="details-link">
                        <p class="post-content">{{ post.content }}</p>
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="{{ post.user.username }}'s post image">
                        {% endif %}
                        <p><small class="post-info">Posted by {{ post.user.username }}
                            on {{ post.created_at|date:"F d, Y H:i" }}</small></p>
                    </a>
                </div>
            </div>
        </section>
    {% empty %}
        <p class="no-posts-message">This user hasn't posted anything yet.</p>
    {% endfor %}
{% endblock %}
